<!DOCTYPE html>
<html>
<head>
	<title>New page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>
<body>
	<div id="body-container">
		<h3 style="color: rgb(252, 252, 252); font-family: monospace;">Hello ACE! Chấm công nha!</h3>
		<h3 style="color: rgb(255, 255, 255); font-family: monospace">Lụm lúa xin đừng quên.</h3>
		<br>
		<button><a href="https://working-history.onrender.com/download-history">Download excel file</a></button>
		<br>
		<br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_1" class="btn" onclick="sendName('btn_1')">Le Phuong</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_2" class="btn" onclick="sendName('btn_2')">Truong Tu Xuan</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_3" class="btn" onclick="sendName('btn_3')">Truong Thanh Tam</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_3" class="btn" onclick="sendName('btn_3')">Le Thanh Tuan</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_4" class="btn" onclick="sendName('btn_4')">Pham Thi Huong</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_5" class="btn" onclick="sendName('btn_5')">Nguyen Hoang Viet</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_6" class="btn" onclick="sendName('btn_6')">Nguyen Thi Hong Yen</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_7" class="btn" onclick="sendName('btn_7')">Bui Hong Phuc</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_8" class="btn" onclick="sendName('btn_8')">Truong Van Minh</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_9" class="btn" onclick="sendName('btn_9')">Nguyen Quang Qui</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_10" class="btn" onclick="sendName('btn_10')">Nguyen Thi Diem My</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_11" class="btn" onclick="sendName('btn_11')">Le Minh Thang</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_12" class="btn" onclick="sendName('btn_12')">Le Quoc Trung</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_13" class="btn" onclick="sendName('btn_13')">Nguyen Tuan Anh</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_14" class="btn" onclick="sendName('btn_14')">Tran Van Luu</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_15" class="btn" onclick="sendName('btn_15')">Le Huynh Anh Khoa</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_16" class="btn" onclick="sendName('btn_16')">Nguyen Mai Phuong</button><br>
		<button style="width: 250px; height: 50px; font-size: larger; font-family: monospace" id="btn_17" class="btn" onclick="sendName('btn_17')">Nguyen Pham Ngoc Tuyet</button><br>

	</div>



</body>
</html>

<script>

	var buttons = document.getElementsByClassName("btn");
	function handClick(buttonId) {
		let buttonText = this.textContent;
		alert("Check-in(out) successful.");
		const buttonDiv = document.getElementById(buttonId);
		buttonDiv.style.backgroundColor = '#003039'
	};

	function sendName(buttonId) {
		const button = document.getElementById(buttonId)
		console.log(buttonId)
		const content = button.innerHTML
		const payload = {
			buttonId : buttonId,
			content : content,
		}
		fetch('/button', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify(payload),
		}).then(response => {
			if (response.ok) {
				return response.text();
			} else {
				Error('Request failed.')
			}
		});
		handClick(buttonId);
	};

	// for (let i=0; i < buttons.length; i++) {
	// 	buttons[i].addEventListener("click", handClick);
	// };













</script>
