body {
    display: flex;
    background-color: #003039;
    width: 280px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}



#body-container {
    /* background-color: rgb(59, 187, 247); */
    width: 280px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;



};
